@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Poller+One&display=swap");

/* font-family: 'Archivo Black', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Poller One', cursive; */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 98vh;
  background: #151515;
  font-family: "Poller One", cursive;
}
div {
  position: relative;
}
#rangeValue {
  position: relative;
  display: block;
  text-align: center;
  font-size: 6em;
  /* color: rgb(255, 255, 255); */
  font-weight: 400;
  background: linear-gradient(#fee140, #fa709a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.range {
  width: 45rem;
  /* width was 400px */
  height: 20px;
  background: rgba(95, 95, 95, 0.5);
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgb(228, 149, 2);
  -webkit-appearance: none;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(240, 158, 7);
  cursor: pointer;
  border: 4px solid rgb(255, 255, 255);
  /* background: linear-gradient(45deg, #fd8d58, #dc611e); */
  box-shadow: -407px 0 0 400px #fda400;
}

.firsttext {
  position: relative;
  display: block;
  text-align: center;
  font-size: 4em;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-transform: uppercase;
  background: linear-gradient(#fee140, #fa709a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.lasttext {
  position: relative;
  display: block;
  text-align: center;
  font-size: 4em;
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: uppercase;
  background: linear-gradient(#ffae00, #ffffff);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: auto;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 56.25vw;
  min-width: 177.6vh;
  min-height: 100vh;
  transform: translate(-50%, -50%);
}

.video-overlay {
}
