@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Poller+One&display=swap");
@import url("https://use.typekit.net/eia7dfc.css");
@import url("https://use.typekit.net/eia7dfc.css");
@import url("https://use.typekit.net/eia7dfc.css");
/* font-family: 'Archivo Black', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Poller One', cursive; */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 98vh;
  background: #151515;

  font-family: futura-pt-bold, sans-serif;

  font-weight: 700;

  font-style: normal;
}
div {
  position: relative;
}
#rangeValue {
  position: relative;
  display: block;
  text-align: center;
  font-size: 13.5em;
  /* color: rgb(255, 255, 255); */
  font-weight: 400;
  margin-right: 30px;
  /* background: #ffd900; */
  line-height: 0.8;
  /* -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
  color: #fddc1f;
  text-shadow: 

  /*long soft bottom*/ 1px 10px 30px rgba(88, 88, 88, 0.4),
    1px 10px 70px rgba(88, 88, 88, 0.4),
    /*short soft bottom*/ 0px 5px 5px rgba(88, 88, 88, 0.4),
    /*left shadow*/ -5px 5px 20px rgba(88, 88, 88, 0.4),
    /*right shadow*/ 5px 5px 20px rgba(88, 88, 88, 0.4);
}

/* #ffd900; */

.range {
  width: 32.51rem;
  /* width was 400px */
  height: 20px;
  background: rgba(95, 95, 95, 0.5);
  outline: none;
  border-radius: 15px;
  /* margin-left: 28px; */
  overflow: hidden;
  box-shadow: inset 0 0 5px rgb(228, 149, 2);
  -webkit-appearance: none;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffd900;
  cursor: pointer;
  border: 10px solid #ffb004;
  /* background: linear-gradient(45deg, #fd8d58, #dc611e); */
  box-shadow: -407px 0 0 400px #ffd900;
}

/* rgb(240, 158, 7); */

.firsttext {
  position: relative;
  display: block;
  text-align: center;
  font-size: 6.1em;
  color: rgb(255, 255, 255);
  font-weight: 400;
  /* margin-left: 15px; */
  margin-right: 15px;
  text-transform: uppercase;
  /* background: #ffd900;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
  color: #fddc1f;
  text-shadow: 

  /*long soft bottom*/ 1px 10px 30px rgba(88, 88, 88, 0.4),
    1px 10px 70px rgba(88, 88, 88, 0.4),
    /*short soft bottom*/ 0px 5px 5px rgba(88, 88, 88, 0.4),
    /*left shadow*/ -5px 5px 20px rgba(88, 88, 88, 0.4),
    /*right shadow*/ 5px 5px 20px rgba(88, 88, 88, 0.4);
}

.lasttext {
  position: relative;
  display: block;
  text-align: center;
  font-size: 5em;
  color: rgb(255, 255, 255);
  font-weight: 400;
  /* margin-left: 15px; */
  margin-bottom: 20px;
  text-transform: uppercase;
  /* background: #ffd900;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; */
  color: #fddc1f;
  text-shadow: 

  /*long soft bottom*/ 1px 10px 30px rgba(88, 88, 88, 0.4),
    1px 10px 70px rgba(88, 88, 88, 0.4),
    /*short soft bottom*/ 0px 5px 5px rgba(88, 88, 88, 0.4),
    /*left shadow*/ -5px 5px 20px rgba(88, 88, 88, 0.4),
    /*right shadow*/ 5px 5px 20px rgba(88, 88, 88, 0.4);
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: brightness(95%);
}

.video-container:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 100%;
  height: auto;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 56.25vw;
  min-width: 177.6vh;
  min-height: 100vh;
  transform: translate(-50%, -50%);
}

.video-overlay {
}
